In [1]:
import pandas as pd

In [2]:
# reading the csv file
df_exams = pd.read_csv('StudentsPerformance.csv')
df_exams.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

# Adding a new column

## assign()

When to use assign?
- Add multiple columns in a single line of code
- When you need to overwrite the values of an existing columns (best practice)

It returns a new object (a copy) with all the original columns in addition to the new ones

In [3]:
import numpy as np

In [4]:
# create random numbers for our new score columns
score1 = np.random.randint(1, 100, size=1000)
score2 = np.random.randint(1, 100, size=1000)

In [5]:
# create a series using the random numbers
series1 = pd.Series(score1, index=np.arange(0, 1000))
series2 = pd.Series(score2, index=np.arange(0, 1000))

In [6]:
# using assign() to add multiple columns
df_exams = df_exams.assign(score1=series1, score2=series2)

In [7]:
df_exams

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,score1,score2
0,female,group B,bachelor's degree,standard,none,72,72,74,74,39
1,female,group C,some college,standard,completed,69,90,88,5,28
2,female,group B,master's degree,standard,none,90,95,93,86,38
3,male,group A,associate's degree,free/reduced,none,47,57,44,68,7
4,male,group C,some college,standard,none,76,78,75,35,79
...,...,...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88,99,95,74,16
996,male,group C,high school,free/reduced,none,62,55,55,31,71
997,female,group C,high school,free/reduced,completed,59,71,65,52,57
998,female,group D,some college,standard,completed,68,78,77,90,89
999,female,group D,some college,free/reduced,none,77,86,86,37,82

## insert()

Inserts a new column at a specific position or index.

In [8]:
# using insert() to add a column at a specific position
df_exams.insert(1, 'test', series1)

In [9]:
df_exams

,gender,test,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,score1,score2
0,female,74,group B,bachelor's degree,standard,none,72,72,74,74,39
1,female,5,group C,some college,standard,completed,69,90,88,5,28
2,female,86,group B,master's degree,standard,none,90,95,93,86,38
3,male,68,group A,associate's degree,free/reduced,none,47,57,44,68,7
4,male,35,group C,some college,standard,none,76,78,75,35,79
...,...,...,...,...,...,...,...,...,...,...,...
995,female,74,group E,master's degree,standard,completed,88,99,95,74,16
996,male,31,group C,high school,free/reduced,none,62,55,55,31,71
997,female,52,group C,high school,free/reduced,completed,59,71,65,52,57
998,female,90,group D,some college,standard,completed,68,78,77,90,89
999,female,37,group D,some college,free/reduced,none,77,86,86,37,82